$electric: #fece00;
$grass: #00ff00;
$poison: #f0f0f0;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    min-height: 100vh;

    .header{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        position: fixed;
        background-color: #303030;
        width: 100%;
        z-index: 10;

        .header__img{
            width: 10%;
        }

        .header__search{
            outline: none;
            background: transparent;
            border: none;
            width: 10%;
            cursor: pointer;
        }

        .header__search-dialog{
            width: 20%;
        }

        .header__search-engine{
            position: absolute;
            height: 50px;
            width: 50%;
            align-self: center;
            left: 40vw;
            display: none;
        }

        @media (max-width: 650px){
            .header__img{
                width: 15%;
            }

            .header__search-dialog{
                width: 100%;
            }
        }
    }

    .search__section{
        background-color: #fece00;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 130px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 15px;
        color: #fff;
        box-shadow: 0 0 5px #000;

        .search__section-input-div{
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-shadow: 0 0 2px #000;

            .search__section-input{
                height: 35px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }

        .search__section-info-div{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 15px;
            background-color: #be9900;
            width: 20%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        
            .search__section-img{
                width: 10%;
            }
    
            .search__section-info{
                display: inline;
                width: 100%;
                text-transform: uppercase;
                text-align: center;
                font-size: 0.9rem;
            }
        
        }

    }

    .search__section::after{
        content: "BUSQUEDA AVANZADA";
        position: absolute;
        top: 250px;
        left: 45vw;
        width: fit-content;
        padding: 15px;
        background-color: #fece00;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        text-shadow: 0 0 2px #000;
        box-shadow: 0 1px 2px #000;
    }

    @media (max-width: 650px){
        .search__section{
            padding-top: 80px;

            .search__section-input-div{
                width: 50%;
                font-size: 0.9rem;
            }
            
            .search__section-info-div{
                padding: 10px 10px ;
                width: 40% ;
                
                .search__section-info{
                    font-size: 0.8rem ;
                }
            }
        }

        .search__section::after{
            top: 200px;
            left: 35vw;
        }
    }

    .container{
        width: 60vw;
        margin: auto;
        margin-top: 50px;

        .container__img{
            width: 5%;
        }

        .container__title{
            display: inline;
        }

        .container__div-1{
            display: flex;
            align-items: center;
            margin-top: 25px;
            font-size: 2rem;
        }

        @media (max-width: 650px){
            .container__img{
                width: 10%;
            }

            .container__div-1{
                justify-content: center;
            }
        }

    }

    .pokemon{
        margin: auto;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        padding: 25px;
        gap: 25px;
        width: 60vw;

        .pokemon__info{
            min-height: 250px;
            max-width: 200px;
        }

        .pokemon__name{
            text-transform: capitalize;
        }

        .pokemon__img{
            width: 100%;
            background-color: #e1e1e1;
        }

        .pokemon__info-types{
            display: flex;
            justify-content: space-around;

            p{
                display: inline;
                margin-top: 15px;
                padding: 2px 10px;
                width: fit-content;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
            }

            .grass{
                background-color: #62ac3b;
                
            }

            .poison{
                background-color: #ac3aab;
                
            }

            .water{
                background-color: #0000ff;
                
            }

            .fire{
                background-color: #ac5039;
                
            }

            .electric{
                background-color: #cbc469;
                
            }

            .ground{
                background-color: #ffb84d;
            }

            .fairy{
                background-color: #99ff33;
            }

            .bug{
                background-color: #006600;
            }

            .flying{
                background-color: #666633;
            }

            .normal{
                background-color: #3399ff;
            }

            .fighting{
                background-color: #cc9900;
            }

            .psychic{
                background-color: #b3b300;
            }


            .rock{
                background-color: #999966;
            }

            .steel{
                background-color: #b3b3b3;
            }

            .ghost{
                background-color: #d9d9d9;
            }

            .ice{
                background-color: #b3d9ff;
            }
            
            .dragon{
                background-color: #ff0000;
            }

            .dark{
                background-color: #333333;
            }

            .shadow{
                background-color: #737373;
            }

            .unknown{
                background-color: #e6e6e6;
            }
        }
    }
}


@mixin animate($animation, $duration, $method, $times){
    animation: $animation $duration $method $times;
    -webkit-animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}



.loader{
    background: url('./img/pokeball.png') center / 30% no-repeat;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    
    @include keyframes(spinning){
        0%{
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
        }

        50%{
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }

        100%{
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
}
    }

    @include animate(spinning, 1s, ease-in-out, infinite)
}

