* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  min-height: 100vh;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  position: fixed;
  background-color: #303030;
  width: 100%;
  z-index: 10;
}

body .header .header__img {
  width: 10%;
}

body .header .header__search {
  outline: none;
  background: transparent;
  border: none;
  width: 10%;
  cursor: pointer;
}

body .header .header__search-dialog {
  width: 20%;
}

body .header .header__search-engine {
  position: absolute;
  height: 50px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 40vw;
  display: none;
}

@media (max-width: 650px) {
  body .header .header__img {
    width: 15%;
  }
  body .header .header__search-dialog {
    width: 100%;
  }
}

body .search__section {
  background-color: #fece00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 130px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
  color: #fff;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

body .search__section .search__section-input-div {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-shadow: 0 0 2px #000;
}

body .search__section .search__section-input-div .search__section-input {
  height: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

body .search__section .search__section-info-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 15px;
  background-color: #be9900;
  width: 20%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

body .search__section .search__section-info-div .search__section-img {
  width: 10%;
}

body .search__section .search__section-info-div .search__section-info {
  display: inline;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
}

@media (max-width: 650px) {
  body .search__section {
    padding-top: 80px;
  }
  body .search__section .search__section-input-div {
    width: 50%;
    font-size: 0.9rem;
  }
  body .search__section .search__section-info-div {
    padding: 10px 10px;
    width: 40%;
  }
  body .search__section .search__section-info-div .search__section-info {
    font-size: 0.8rem;
  }
}

body .container {
  width: 60vw;
  margin: auto;
  margin-top: 50px;
}

body .container .container__img {
  width: 5%;
}

body .container .container__title {
  display: inline;
}

body .container .container__div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  font-size: 2rem;
}

@media (max-width: 650px) {
  body .container .container__img {
    width: 10%;
  }
  body .container .container__div-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .pokemon {
  margin: auto;
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  gap: 25px;
  width: 60vw;
}

body .pokemon .pokemon__info {
  min-height: 250px;
  max-width: 200px;
}

body .pokemon .pokemon__info :hover {
  cursor: pointer;
}

body .pokemon .pokemon__name {
  text-transform: capitalize;
}

body .pokemon .pokemon__img {
  width: 100%;
  background-color: #e1e1e1;
}

body .pokemon .pokemon__info-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .pokemon .pokemon__info-types p {
  display: inline;
  margin-top: 15px;
  padding: 2px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

body .pokemon .pokemon__info-types .grass {
  background-color: #62ac3b;
}

body .pokemon .pokemon__info-types .poison {
  background-color: #ac3aab;
}

body .pokemon .pokemon__info-types .water {
  background-color: #0000ff;
}

body .pokemon .pokemon__info-types .fire {
  background-color: #ac5039;
}

body .pokemon .pokemon__info-types .electric {
  background-color: #cbc469;
}

body .pokemon .pokemon__info-types .ground {
  background-color: #ffb84d;
}

body .pokemon .pokemon__info-types .fairy {
  background-color: #99ff33;
}

body .pokemon .pokemon__info-types .bug {
  background-color: #006600;
}

body .pokemon .pokemon__info-types .flying {
  background-color: #666633;
}

body .pokemon .pokemon__info-types .normal {
  background-color: #3399ff;
}

body .pokemon .pokemon__info-types .fighting {
  background-color: #cc9900;
}

body .pokemon .pokemon__info-types .psychic {
  background-color: #b3b300;
}

body .pokemon .pokemon__info-types .rock {
  background-color: #999966;
}

body .pokemon .pokemon__info-types .steel {
  background-color: #b3b3b3;
}

body .pokemon .pokemon__info-types .ghost {
  background-color: #d9d9d9;
}

body .pokemon .pokemon__info-types .ice {
  background-color: #b3d9ff;
}

body .pokemon .pokemon__info-types .dragon {
  background-color: #ff0000;
}

body .pokemon .pokemon__info-types .dark {
  background-color: #333333;
}

body .pokemon .pokemon__info-types .shadow {
  background-color: #737373;
}

body .pokemon .pokemon__info-types .unknown {
  background-color: #e6e6e6;
}

.pokemon__profile {
  height: 600px;
  width: 600px;
  display: none;
  margin-top: 500px;
}

.pokemon__card {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 700px;
  width: 600px;
  background-color: #0005;
  color: #000;
  font-size: 1.5rem;
}

.pokemon__card .pokemon__card-img {
  position: absolute;
  top: -200px;
  left: 100px;
  width: 60%;
}

.pokemon__card .stats__div {
  margin-top: 40%;
  padding: 20px;
}

.pokemon__card .stats__div .pokemon__card-name {
  text-transform: capitalize;
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

.pokemon__card .stats__div h5 {
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

.pokemon__card .stats__div .pokemon__card-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.pokemon__card .stats__div .pokemon__card-types p {
  width: 40%;
  text-align: center;
  margin: 20px;
}

.pokemon__card .stats__div .pokemon__card-types .grass {
  background-color: #62ac3b;
}

.pokemon__card .stats__div .pokemon__card-types .poison {
  background-color: #ac3aab;
}

.pokemon__card .stats__div .pokemon__card-types .water {
  background-color: #0000ff;
}

.pokemon__card .stats__div .pokemon__card-types .fire {
  background-color: #ac5039;
}

.pokemon__card .stats__div .pokemon__card-types .electric {
  background-color: #cbc469;
}

.pokemon__card .stats__div .pokemon__card-types .ground {
  background-color: #ffb84d;
}

.pokemon__card .stats__div .pokemon__card-types .fairy {
  background-color: #99ff33;
}

.pokemon__card .stats__div .pokemon__card-types .bug {
  background-color: #006600;
}

.pokemon__card .stats__div .pokemon__card-types .flying {
  background-color: #666633;
}

.pokemon__card .stats__div .pokemon__card-types .normal {
  background-color: #3399ff;
}

.pokemon__card .stats__div .pokemon__card-types .fighting {
  background-color: #cc9900;
}

.pokemon__card .stats__div .pokemon__card-types .psychic {
  background-color: #b3b300;
}

.pokemon__card .stats__div .pokemon__card-types .rock {
  background-color: #999966;
}

.pokemon__card .stats__div .pokemon__card-types .steel {
  background-color: #b3b3b3;
}

.pokemon__card .stats__div .pokemon__card-types .ghost {
  background-color: #d9d9d9;
}

.pokemon__card .stats__div .pokemon__card-types .ice {
  background-color: #b3d9ff;
}

.pokemon__card .stats__div .pokemon__card-types .dragon {
  background-color: #ff0000;
}

.pokemon__card .stats__div .pokemon__card-types .dark {
  background-color: #333333;
}

.pokemon__card .stats__div .pokemon__card-types .shadow {
  background-color: #737373;
}

.pokemon__card .stats__div .pokemon__card-types .unknown {
  background-color: #e6e6e6;
}

.pokemon__card .stats__div .pokemon__weight {
  display: inline;
  padding: 15px;
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
  word-spacing: 400px;
}

.pokemon__card .stats__div .pokemon__weight span {
  text-align: center;
}

.pokemon__card .stats__div .pokemon__card-details {
  padding: 10px;
  word-spacing: 300px;
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

.pokemon__card .stats__div .pokemon__card-close {
  padding: 20px;
  text-align: center;
  background-color: #fece00;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-shadow: 0 0 2px #000;
  border: none;
}

.show {
  display: block !important;
}

.loader {
  background: url("./img/pokeball.png") center/30% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  animation: spinning 1s ease-in-out infinite;
  -webkit-animation: spinning 1s ease-in-out infinite;
}

@-webkit-keyframes spinning {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */